<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administrador
    </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="background">
  
    <div class="box2">
      <ion-card class="Login">
        <ion-card-header>
          <ion-card-title>Crear Usuario</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        
          <form [formGroup]="formUser">
            <ion-item>
              <ion-label position="floating">Ingrese Correo</ion-label>
              <ion-input type="email" formControlName="correo">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Ingrese Contraseña</ion-label>
              <ion-input type="password" formControlName="contraseña">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Perfil</ion-label>
              <ion-select formControlName="perfil">
                <ion-select-option  value="Cliente">Cliente</ion-select-option>
                <ion-select-option  value="Administrador">Admin</ion-select-option>
              </ion-select>
              
            </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Nombre</ion-label>
                <ion-input type="text" formControlName="nombre">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Apodo</ion-label>
                <ion-input type="text" formControlName="apodo">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Edad</ion-label>
                <ion-input type="number" formControlName="edad">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Celular</ion-label>
                <ion-input type="number" formControlName="celular">
                </ion-input>
              </ion-item>
              
              
              
          </form>    
          <br>
          <br>
                <ion-buttons class="btncentrado">
                               
                  <ion-button slot="primary" color="primary" fill="outline" id="ingresar" (click)="crearUsuario()">
                    Crear
                  </ion-button>
                  <ion-button slot="secondary" color="secondary" fill="outline" id="limpiar"  (click)="limpiarFormulario()">
                    Limpiar
                  </ion-button>
                </ion-buttons>
  
        </ion-card-content>
      </ion-card>
   

    <ion-footer collapse="fade">
      <ion-grid>
        <ion-toolbar class="centrado">
          <ion-title>Informaciones</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-row class="centrado">
            <ion-col size="2">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <label>contacto@appanime.cl</label>
            </ion-col>
           
          </ion-row>
          <ion-row justify-content-center class="centrado" >
            <ion-col size="2">
              <ion-icon name="call-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <label>+56998870456</label>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12" class="centrado">
                <ion-icon name="navigate-outline"></ion-icon>
                <label>&nbsp;Froilán Roa 7107, La Florida</label>
              </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-grid>
    </ion-footer>

  </div>
  </ion-content>
  
  
