<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Edicion de Usuario
    </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="background">

    <div class="box2">
      <ion-card class="Login">
        <ion-card-header>
          <ion-card-title>Editar Usuario</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <form [formGroup]="formEditUser">
            <ion-item>
              <ion-label position="floating">Ingrese Correo</ion-label>
              <ion-input type="email" formControlName="correo">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Ingrese Contraseña</ion-label>
              <ion-input type="password" formControlName="contraseña">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Perfil</ion-label>
              <ion-select formControlName="perfil">
                <ion-select-option  value="Cliente">Cliente</ion-select-option>
                <ion-select-option  value="Administrador">Admin</ion-select-option>
              </ion-select>

            </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Nombre</ion-label>
                <ion-input type="text" formControlName="nombre">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Apodo</ion-label>
                <ion-input type="text" formControlName="apodo">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Edad</ion-label>
                <ion-input type="number" formControlName="edad">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ingrese Celular</ion-label>
                <ion-input type="number" formControlName="celular">
                </ion-input>
              </ion-item>
          </form>
                <ion-buttons class="btncentrado">
                  <ion-button slot="primary" color="primary" fill="outline" id="ingresar" (click)="Guardar()">
                    Guardar
                  </ion-button>

                </ion-buttons>

        </ion-card-content>
      </ion-card>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-row>
    <ion-col>
      <hr>
      <ion-title>Informaciones</ion-title>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col>
      <ion-icon name="mail-outline"></ion-icon>
      &nbsp;<label>contacto@appJuegos.cl</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="call-outline"></ion-icon>
      &nbsp;<label>+56998870456</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="navigate-outline"></ion-icon>
      &nbsp;<label>Froilán Roa 7107, La Florida</label>
    </ion-col>
  </ion-row>
  <hr>
</ion-footer>

