<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Perfil de Usuario
    </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="background">
    
    <div class="box1">
      <ion-item >
      <ion-card class="Login">
        <ion-card-header>
          <ion-card-title>  Perfil: {{Usuario.perfil}}</ion-card-title>
          <ion-card-title>Nombre: {{Usuario.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>

          <ion-item>
          <div class="card-subtitle">id: {{Usuario.uid}}</div>
        </ion-item>
          <ion-item>
          <div class="card-subtitle">Apodo: {{Usuario.apodo}}</div>
        </ion-item>
          <ion-item>
          <div class="card-subtitle">Edad: {{Usuario.edad}}</div>
        </ion-item>
          <ion-item>
          <div class="card-subtitle">Celular: {{Usuario.celular}}</div>
        </ion-item>
          <ion-item>
          <div class="card-subtitle">Correo: {{Usuario.correo}}</div>
        </ion-item>
        
          <ion-item>
                
                               
                  <ion-button  expand="block" color="primary" id="editar"  [routerLink]="['/editarPerfil',Usuario.uid]" (click)="editarUsuario(Usuario)">
                    Editar
                  </ion-button>
                  
               
              </ion-item>
              </ion-list>
              </ion-card-content>        
        </ion-card>
        
      </ion-item>

    <ion-footer collapse="fade">
      <ion-grid>
        <ion-toolbar class="centrado">
          <ion-title>Informaciones</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-row class="centrado">
            <ion-col size="2">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <label>contacto@appJuego.cl</label>
            </ion-col>
           
          </ion-row>
          <ion-row justify-content-center class="centrado" >
            <ion-col size="2">
              <ion-icon name="call-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <label>+56998870456</label>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12" class="centrado">
                <ion-icon name="navigate-outline"></ion-icon>
                <label>&nbsp;Froilán Roa 7107, La Florida</label>
              </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-grid>
    </ion-footer>

  </div>
  </ion-content>
  