<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Perfil de Usuario
    </ion-title>
  </ion-toolbar>
  </ion-header>
    <ion-content [fullscreen]="true" class="background">
    <ion-card class="Login">
      <ion-card-header>
        <ion-card-title>  Perfil - {{Usuario.perfil}}</ion-card-title>
        <ion-card-subtitle>Nombre - {{Usuario.nombre}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <div class="card-subtitle">id: {{Usuario.uid}}</div>
          </ion-item>
          <ion-item>
            <div class="card-subtitle">Apodo: {{Usuario.apodo}}</div>
          </ion-item>
          <ion-item>
            <div class="card-subtitle">Edad: {{Usuario.edad}}</div>
          </ion-item>
          <ion-item>
            <div class="card-subtitle">Celular: {{Usuario.celular}}</div>
          </ion-item>
          <ion-item>
            <div class="card-subtitle">Correo: {{Usuario.correo}}</div>
          </ion-item>

          <ion-item>
            <ion-button color="dark" id="editar"  [routerLink]="['/editarPerfil',Usuario.uid]" (click)="editarUsuario(Usuario)">
              Editar
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>

<ion-footer collapse="fade">
  <ion-row>
    <ion-col>
      <hr>
      <ion-title>Informaciones</ion-title>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col>
      <ion-icon name="mail-outline"></ion-icon>
      &nbsp;<label>contacto@appJuegos.cl</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="call-outline"></ion-icon>
      &nbsp;<label>+56998870456</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="navigate-outline"></ion-icon>
      &nbsp;<label>Froilán Roa 7107, La Florida</label>
    </ion-col>
  </ion-row>
  <hr>
</ion-footer>
