

<link href="https://fonts.cdnfonts.com/css/karmatic-arcade" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/gameovercre" rel="stylesheet">

<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" class="background">
    <ion-card>
      <ion-card-header>
          <ion-card-title>Bienvenidx!</ion-card-title>
          <ion-card-subtitle>Inicia sesion</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="validarLogin()" [formGroup] = "formLogin">
          <ion-item>
            <ion-label position="floating">Ingrese Mail</ion-label>
            <ion-input type="email" formControlName="email">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ingrese Contraseña</ion-label>
            <ion-input type="password" formControlName="contraseña">
            </ion-input>
          </ion-item>
          <ion-button type="submit" color="dark">Ingresar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>


<ion-footer collapse="fade">
  <ion-row>
    <ion-col>
      <hr>
      <ion-title>Informaciones</ion-title>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col>
      <ion-icon name="mail-outline"></ion-icon>
      &nbsp;<label>contacto@appJuegos.cl</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="call-outline"></ion-icon>
      &nbsp;<label>+56998870456</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="navigate-outline"></ion-icon>
      &nbsp;<label>Froilán Roa 7107, La Florida</label>
    </ion-col>
  </ion-row>
  <hr>
</ion-footer>
