ion-header ion-title{
  font-family: 'Karmatic Arcade', sans-serif;
}

ion-card{
  background-color:rgba(0, 0, 0, 0.83);
  border-radius: 20px;
  display: block;
  margin: 5% 5% 5% 5%;
}

ion-card-header{
  text-align: center;
  font-family: 'Karmatic Arcade', sans-serif;
  font-size:x-large;
  padding: auto;
  ion-card-title{
    color: white;
  }
  ion-card-subtitle{
    color: aquamarine;
  }
}

ion-item{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  ion-label{
    font-family: 'gameovercre', sans-serif;
  }
  ion-input{
    font-family: 'gameovercre', sans-serif;
  }
}

ion-button{
  font-family: 'Karmatic Arcade', sans-serif;
  margin: auto;
  display: block;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5px;
}



ion-footer{
  background-color: black;
  margin: 0;
  padding-right: 5%;
  padding-left: 5%;
  color: gray;
  ion-title{
    text-align: center;
    font-family: 'Karmatic Arcade', sans-serif;
    font-size: medium;
    padding: 0;
  }
  label{
    font-family: 'gameovercre', sans-serif;
  }
}




  ion-content.background{
    --background: url(https://i.pinimg.com/originals/83/ee/86/83ee86204adbc7f85a1740fcbabc10b6.gif) 100% 0/100% 100% no-repeat;
  }
