<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">



  <div class="box2">
    <ion-card class="info">
      <ion-card-header >
        <ion-card-title >Bienvenid@ a</ion-card-title>
        <ion-card-title >AppJuego</ion-card-title>
        <ion-card-subtitle>Descubrenos!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Somos una empresa fundada en 2021, todo parte con un sueño familiar entre 3 hermanos con experiencia de más de 10 años en el mundo de los juegos,
        tenemos como objetivo final ser la mejor tienda online de Chile, ya sea en la mejor atención.
        Para lograr esto nos queda un extenso y arduo camino, debemos seguir creciendo y desarrollarnos aún más.
        Determinación, perseverancia y esfuerzo será lo principal para seguir adelante!
        Esperen mucho de AppJuego
        Que comience el juego!
      </ion-card-content>
    </ion-card>
  </div>

  <ion-footer collapse="fade">
    <ion-grid>
      <ion-toolbar class="centrado">
        <ion-title>Informaciones</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-row class="centrado">
          <ion-col size="2">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <label>contacto@appJuego.cl</label>
          </ion-col>
         
        </ion-row>
        <ion-row justify-content-center class="centrado" >
          <ion-col size="2">
            <ion-icon name="call-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <label>+56998870456</label>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="centrado">
              <ion-icon name="navigate-outline"></ion-icon>
              <label>&nbsp;Froilán Roa 7107, La Florida</label>
            </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-grid>
  </ion-footer>

</ion-content>