<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

    <ion-card>
      <ion-card-header>
        <ion-card-title >Bienvenidx a</ion-card-title>
        <ion-card-title >Arcadia</ion-card-title>
        <ion-card-subtitle>Descubrenos!</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Somos una empresa fundada en 2021, todo parte con un sueño familiar entre 3 hermanos con experiencia de más de 10 años en el mundo de los juegos,
        tenemos como objetivo final ser la mejor tienda online de Chile, ya sea en la mejor atención.
        Para lograr esto nos queda un extenso y arduo camino, debemos seguir creciendo y desarrollarnos aún más.
        Determinación, perseverancia y esfuerzo será lo principal para seguir adelante!
        Esperen mucho de Arcadia
        Que comience el juego!
      </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer collapse="fade">
  <ion-row>
    <ion-col>
      <hr>
      <ion-title>Informaciones</ion-title>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col>
      <ion-icon name="mail-outline"></ion-icon>
      &nbsp;<label>contacto@appJuegos.cl</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="call-outline"></ion-icon>
      &nbsp;<label>+56998870456</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="navigate-outline"></ion-icon>
      &nbsp;<label>Froilán Roa 7107, La Florida</label>
    </ion-col>
  </ion-row>
  <hr>
</ion-footer>


